.profile-container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #1f1f1f; /* 배경색을 어둡게 */
    color: #ffd700; /* 텍스트 색상을 금색으로 */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7); /* 더 깊은 그림자 */
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin: auto;
}

.profile-container h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #ffd700; /* 타이틀 색상을 금색으로 */
    border-bottom: 2px solid #ffd700; /* 금색 밑줄 추가 */
    padding-bottom: 10px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-info .profile-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #2c2c2c; /* 항목 사이에 구분선 추가 */
    height: 40px; /* 각 행의 높이를 고정 */
}

.profile-info .profile-row label {
    flex: 1;
    text-align: left;
    font-size: 18px;
    display: flex;
    align-items: center; /* 텍스트를 중앙에 정렬 */
}

.profile-info .profile-row p,
.profile-info .profile-row input {
    flex: 2;
    text-align: left;
    font-size: 18px;
    margin: 0; /* 입력 필드와 텍스트 간의 간격을 동일하게 유지 */
    height: 100%; /* 높이를 고정 */
    line-height: 40px; /* 텍스트의 줄 높이 설정 */
    display: flex;
    align-items: center; /* 텍스트를 중앙에 정렬 */
    color: #ffffff;
}

.profile-info input {
    width: 100%;
    padding: 0 10px; /* 좌우 패딩 추가 */
    border-radius: 5px;
    border: 1px solid #ffd700; /* 테두리 색상을 금색으로 */
    font-size: 16px;
    background-color: #333333; /* 입력 필드 배경색을 어둡게 */
    color: #ffffff; /* 입력 필드 텍스트 색상을 금색으로 */
    box-sizing: border-box; /* 박스 사이징 설정 */
    line-height: normal; /* line-height를 기본값으로 설정 */
}

.profile-info input::placeholder {
    color: #bdc3c7; /* 입력 필드 placeholder 색상 설정 */
}

.profile-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profile-buttons button {
    flex: 1;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #ffd700; /* 버튼 배경색을 금색으로 */
    color: #000000; /* 버튼 텍스트 색상을 검은색으로 */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.profile-buttons button:first-child {
    margin-left: 0;
}

.profile-buttons button:last-child {
    margin-right: 0;
}

.profile-buttons button:hover {
    background-color: #ffc400; /* 호버 시 더 진한 금색으로 */
    transform: scale(1.05);
}
